<title>Ziqi Huang | PhD student at McGill University</title>
<link rel="icon" type="image/svg+xml" href="{{ '/icon.svg' | relative_url }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-H6P21Z1K7D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-H6P21Z1K7D');
</script>

<style>
  /* Standard 1.5 spacing for the text blocks */
  header p {
    line-height: 1.5 !important;
  }
  
  /* Adds consistent vertical space between each individual link */
  header a {
    display: block; 
    margin-top: 0.5em; /* Increase this number if you want more space between links */
    margin-bottom: 0.5em;
    padding: 0;
  }

  .fab, .fas {
    width: 20px;
    text-align: center;
    margin-right: 5px;
  }
</style>
