<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div style="height: 1.5em;"></div> 
        
        <h1 style="margin-top: 0;"><a href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>

        {% if site.logo %}
          <img src="{{ site.logo | relative_url }}" alt="Logo" />
        {% endif %}

        <p>{{ site.description }}</p>

        <div style="margin-bottom: 30px;"></div>

        <a href="https://www.linkedin.com/in/ziqi-huang-334b88201/" style="display: block; margin-bottom: 10px;">
          <i class="fab fa-linkedin"></i> LinkedIn
        </a>
        <a href="https://github.com/ZiqiHuang11" style="display: block; margin-bottom: 10px;">
          <i class="fab fa-github"></i> GitHub
        </a>
        <a href="mailto:ziqi.huang2@mail.mcgill.ca" style="display: block; margin-bottom: 10px;">
          <i class="fas fa-envelope"></i> Email
        </a>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
